<table summary="Server form fields">
  <tr>
    <th>Friendly Name</th>
    <td><%= f.text_field(:friendly_name) %></td>
  </tr>
  <tr>
    <th>IP</th>
    <td><%= f.text_field(:ip) %></td>
  </tr>
  <tr>
    <th>Username</th>
    <td><%= f.text_field(:username) %></td>
  </tr>
  <tr>
    <th>keyfile</th>
    <td><%= f.text_field(:keyfile) %></td>
  </tr>
</table>
