<% @page_title = "Add Server" %>

<%= link_to("<< Back to List", '/servers/admin', :class => 'back link') %>

<div class="servers new">
  <h2>Create Server</h2>

  <%= form_for(@server) do |f| %>

  <%= render(:partial => 'form', :locals => {:f => f}) %>

  <div class="form-buttons">
    <%= f.submit("Create Server") %>
  </div>
  <% end %>
</div>
