<table summary="Server form fields">
  <tr>
    <th>Server</th>
    <td><%= f.text_field(:server_id) %></td>
  </tr>
  <tr>
    <th>Friendly Name</th>
    <td><%= f.text_field(:friendly_name) %></td>
  </tr>
  <tr>
    <th>Service Name</th>
    <td><%= f.text_field(:service_name) %></td>
  </tr>
  <tr>
    <th>Notes</th>
    <td><%= f.text_field(:notes) %></td>
  </tr>
</table>
